@import 'antd/dist/antd.css'; 

body, html, #root, .wrapper {
    height: 100%;
    color: #202020;
    background-color: #f4f7fd;
}
.wrapper {
    font-size: 14px;
    height: 100%;
}

.home {
    display: flex;
    height: 100%;
}