.message {
    $self: &;
    display: flex;
    margin-bottom: 15px;
    &__avatar {
        display: flex;
        flex-direction: column-reverse;
        align-items: flex-start;
        img {
            display: block;
            border-radius: 100%;
            width: 33px;
            height: 33px;
            margin-right: 0px;
        }
        
    }
    &__block--text {
        display: flex;
        flex-basis: 100%;
        justify-content: end;
    }
    &__type {
        display: flex;
        flex-wrap: wrap;
        justify-content: end;
    }
    &__text {
        color: #fff;
        margin: 0;
        line-height: 25px;
    }
    &__content {
        display: flex;
        flex-direction: column;
        align-items: self-start;
        #{$self}__bubble {
            position: relative;
            word-wrap:break-word;
            background: gray;
            box-shadow: 0px 5px 5px rgba(54, 116, 255, 0.196733);
            border-radius: 12px 12px 12px 0px;
            padding: 12px; 
            max-width: 440px;
            min-width: 60px;
            min-height: 20px;
            border-radius: 12px 12px 12px 0px;
            padding: 5px;
            display: block;
        }
        #{$self}__date {
            font-size: 12px;
            opacity: 0.4;

        } 
    }
    &__attachments {
        display: flex;
        align-items: flex-end;
        justify-content: center;
        margin: 2px 2px;
    }
    &__is--typing {
        #{$self}__bubble {
            background: #cadaff;
        } 
    }
    &__attachment--item {
        cursor: pointer;
        margin-top: auto;
        display: flex;
        img {
            width: 45px;
            height: 45px;
            border-radius: 12px;
            padding: 2px;
        }
    }
    &__attachment--item--one {
        cursor: pointer;
        img {
            width: 145px;
            height: 145px;
            border-radius: 12px;
            padding: 2px;
        }
    }
    &__check {
        text-align: end;
        
    }
    &__check__info {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-self: end;
    }

    &__me {
        display: flex;
        flex-direction: row-reverse;
        #{$self}__content {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            #{$self}__bubble {
                background: rgb(6, 99, 238);
                border: 1px solid #ececec;
                border-radius: 12px 12px 0px 12px;
                #{$self}__text {
                    color: fff;
                }
            }
            #{$self}__date {
                width: 100%;
                display: inline-block;
                text-align: right;
            }
        }
        #{$self}__check__info {
            display: flex;
            flex-direction: row-reverse;
            justify-content: flex-end;
            align-self: baseline;
        }
        
        
        #{$self}__avatar {
           display: flex;
           align-items: flex-end;
           
            img {
                margin-right: 0;
                margin-left: 0px;
            }
        }
    }
}
